{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    {{> 3cs_ribbon }}
    <section class="main">
        <section class="content-head">
            <h1>DevOps</h1>
        </section>                 	    	
        <section class="content">
            <p>DevOps comes from the two words "development" and "operations", and emerged as a term around 2009. It's meaning has evolved over the years but generally it's a software development method that promotes collaboration and communication between the software engineering and the operational (in-life) teams.</p>
			<p>DevOps for Dev teams, DevOps for business...</p>
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>