{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    {{> trading_soon }}
    <section class="main">
    	<section class="content-head">
			<h1>Consulting</h1>
    	</section>
        <section class="content">
			<p>We provide consulting services on a wide range of technical and organisational problems. We are mainly focused on these three areas:</p>
            <section class="consulting list block">
                <ul class="icon-list">
                    <li><i class="el-icon-cog"></i><a href="#">Engineering Organisation & Process</a> - Most organisations are moving towards using <a href="#">agile</a> software development processes, but some need some help getting there. We work with you on that journey providing analysis and support.</li>
                    <li><i class="el-icon-idea"></i>Technical <a href="/solutions">Solutions</a> - We specialize in solutions around <a href="#">Engineering Organisation & Process</a>. This includes things like DevOps, Continuous Integration, Automated Deployment and many more. We can provide recommendations that suit your organisation, along with help deploying and moving users onto the solutions.</li>
                    <li><i class="el-icon-gift"></i>Our own <a href="/products">Products</a> - We have a few products that we sell and provide consulting services around.</li>
                </ul>                
            </section>
            <section>
                <h3>For more information or a quote, please <a href="/contact">contact</a> us or email <a href="mailto:info@3cs.xyz">info@3cs.xyz</a></h3>
            </section>
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>