{{> html_tag }}
{{> head }}

<body>
<nav>
    <ul class="menu-bar">
        <li><a href="">About</a></li>
        <li>
            <a>Solutions</a>
            <ul>
                <li><a href="">DevOps</a></li>
                <li><a href="">Continuous Integration</a></li>
                <li><a href="">Automated Deployment</a></li>
                <li><a href="">Build Automation</a></li>
                <li><a href="">Build Automation</a></li>
            </ul>
        </li>
        <li>
            <a>Products</a>
            <ul>
                <li><a href="">Product 1</a></li>
            </ul>
        </li>        
        <li><a href="">Consulting</a></li>
    </ul>
</nav>

</body>
</html>
