{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    {{> 3cs_ribbon }}
    <section class="main">
        <section class="content-head">
            <h1>{{> logo }} Technologies</h1>
        </section>        
        <section class="content">
            <p>We specialize in Software Engineering and provide a range of products and services for the consumer and enterprise.</p>
            <p><a href="engineering">Software engineering</a> standards and best practice have a direct correlation to a company's profits. Both possible revenue earned, and the cost to delivery are affected. We provide high quality consultation on a full range of engineering topics, tailored to help boost your organisation's engineering efficiency.</p>            
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>