{{> html_tag }}
{{> head }}
<body>
    <section class="toolbar">
        <a href="#menu" title="Open list" id="menu-button"><i class="icon-th-list"></i></a>
    </section>    
    {{> menu }}
    <section class="main">
        <section class="content">
            <h1>3CS Technologies</h1>
            <p>We specialise in Software Engineering and provide a range of products and services for the consumer and enterprise</p>
            <p>More coming soon...</p>        
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>