{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    <section class="main">
        <section class="content">
            <h3>Feel free to contact us whichever way you prefer</h3>
            <section class="contact">
            	<a href="mailto:info@3cs.xyz"><i class="icon-envelope"></i></a><p>info@3cs.xyz</p>
            </section>
            <section class="contact">
            	<a href="https://twitter.com/3CSTech" target="_blank"><i class="icon-twitter"></i></a><p>@3CSTech</p>
            </section>
            <section class="contact">
            	<a href="https://linkedin" target="_blank"><i class="icon-linkedin"></i></a><p>@3CSTech</p>
            </section>            
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>