{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    <section class="main">
        <section class="content">
            <h3>Feel free to contact us whichever way you prefer</h3>
            <section class="contacts">
                {{#each this.contacts }}
                <section class="contact">
                    <i class="{{ this.icon }}"></i><a href="{{ this.link }}">{{ this.text }}</a>
                </section>
                {{/each }}
            </section>
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>