{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    {{> trading_soon }}
    <section class="main">
        <section class="content-head">
            <h1>Please contact us whichever way you prefer</h1>
        </section>             
        <section class="content">
            <section class="contacts">
                {{#each this.contacts }}
                <section class="contact">
                    <i class="{{ this.icon }}"></i><a href="{{ this.link }}" target="_blank">{{ this.text }}</a>
                </section>
                {{/each }}
            </section>
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>