{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    <section class="main">
        <section class="content">
        	<h3>Software Engineering</h3>
            <p>We understand that people and organisations have their own way of expressing themselves, and will have a preferred term for "building stuff with software" like software development or software craftsmanship. We at 3CS choose the term "Software Engineering" because we want something that signifies more than the result of writing code, the software, but also the importance of how we build it. Not to say that there is anything wrong with any other term, but we also though it important to have a term that's easily recognised and understood by out customers and partners.</p>
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>