{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    {{> 3cs_ribbon }}
    <section class="main">
        <section class="content-head">
            <h1>Partners</h1>
        </section>                          
        <section class="content">
            <p>3CS has several strategic partners that it has developed relationships with</p>
            <section class="contacts">
                {{#each this.partners }}
                <section class="contact">
                    <a href="{{ this.url }}" target="_blank">{{ this.name }}</a>
                </section>
                {{/each }}
            </section>            
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>