body {
    font-family: 'Source Sans Pro',Verdana,Arial,sans-serif;
    padding: 0;
    margin: 0;
}

.main {
	z-index: 10;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

section.content {
	background-color: #e8eef8;
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 300px;	
	padding: 40px 0 0 0;
	margin: 0;
	overflow: hidden;
	text-align: center;
}

section.contacts {
	width: 20%;
	text-align: left;
	margin: auto;	
}

.content h1, .content p {
	text-align: center;	
}

.content h1 {
	font-size: 2.7em;
	line-height: 1.05em;	
	font-weight: 300;
	margin: 40px 10px 10px 10px;
}

h3, h5 {
	margin: 30px;
}

.content p {
	padding: 5px 15px 5px 15px;
}

footer {
	/*background-color: #C2FFFF;*/
	overflow: hidden;
	background-color: #0072c6;
	min-height: 50px;
	width: 100%;
	padding: 0;
	margin: 0;	
}

footer ul {
	list-style: none;
    margin: 0 auto 0 auto;
    padding: 20px 0 20px 0;
    width: 30%;	
    text-align: center;
}

footer nav {
    font-size: 0.8em;
    width: 100%;
    z-index: 100;
}

footer ul li {
	display: inline;
}

footer ul li a {
	text-decoration: none;
	color: white;
	padding: 0 5px 0 5px;
}

.active, .active ul {
	display: block !important;
}

a.menu-button {
	display: none;
	float: left;
	margin: 8px 0 0 10px;	
}

section.menu-open a.menu-button::after,
section.menu-closed a.menu-button::after {
	font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
	position: relative;
	top: -7px;
	font-size: 0.8em;
	color: #0088cc;
}

section.menu-open a.menu-button::after {
	content: "<";
}

section.menu-closed a.menu-button::after {
	content: ">";
}

section.toolbar a, section.contact a {
	text-decoration: none;
}

section.contact p, section.contact a {
	display: inline-block;
}

section.contact i {
	vertical-align: middle;
}

section.contact i, section.contact a {
	margin: 15px 5px 15px 5px;
}

i {
	color: #0088cc;
	font-size: 2.0em;
}

/*a i:hover {
	color: red;
}*/

.logo span {
	margin: 0;
	padding: 0;
}

.logo span:nth-of-type(2) {
	color: red;
	position: absolute;	
	height: 0.65em;
	overflow: hidden;
}

.logo span:nth-of-type(3) {
	color: green;
}
