body {
    font-family: 'Source Sans Pro',Verdana,Arial,sans-serif;
    padding: 0;
    margin: 0;
}

.main {
	z-index: 10;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

section.content {
	background-color: #e8eef8;
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 300px;	
	padding: 40px 0 0 0;
	margin: 0;
	overflow: hidden;
}

.content h1, .content p {
	text-align: center;	
}

.content h1 {
	font-size: 2.7em;
	line-height: 1.05em;	
	font-weight: 300;
}

.content p {
	padding: 10px;
}

footer {
	/*background-color: #C2FFFF;*/
	overflow: hidden;
	background-color: #0072c6;
	min-height: 50px;
	width: 100%;
	padding: 0;
	margin: 0;	
}

footer ul {
	list-style: none;
    margin: 0 auto 0 auto;
    padding: 20px 0 20px 0;
    width: 185px;	
}

footer nav {
    font-size: 0.8em;
    width: 100%;
    z-index: 100;
}

footer ul li {
	display: inline;
}

footer ul li a {
	text-decoration: none;
	color: white;
	padding: 0 5px 0 5px;
}

.active, .active ul {
	display: block !important;
}

a.menu-button {
	display: none;
	float: left;
	margin: 12px 0 0 10px;	
}

/*.toolbar {
	display: none;
	float: left;
}*/

.toolbar a {
	text-decoration: none;
}

.toolbar a i {
	color: #0088cc;
	font-size: 4.0em;
}
