
/* for 980px or less */
@media screen and (max-width: 980px) {
	body section.contacts {
		width: 20%;
	}
}

/* for 768px (iPad mini) or less */
@media screen and (max-width: 768px) {
	body section.contacts {
		width: 30%;
	}
}

/* for 568px (iPhone) or less */
@media screen and (max-width: 568px) {
/*	body {
		font-size: 50%;
	}*/
	nav section.menu-container {
		width: 100%;
	}
	body nav.main-menu li a {
		font-size: 1.5em;
	}
	body nav.main-menu ul {
		display: none;
		clear: both;
		margin: 0;
	}
	body nav.main-menu li ul {
		background-color: white;
		border: 0;
		position: static; 
		margin: 5px 0 5px 15px;
		width: 100%;
	}
	section a.logo {
		margin: 5px 10px 10px 10px;
		font-size: 2.2em;
	}
	section.toolbar {
		width: 100%;
	}	
	body a.menu-button {
		display: block;
		font-size: 1.5em;
	}
	body a.menu-button i {
		font-size: 1.5em;
	}	
	body nav.main-menu {
		position: static;
	}
	body nav.main-menu ul > li {
	    display: block;
	    margin: 10px 0 10px 0;
	}		
	body nav.main-menu section ul li, 
	body nav.main-menu section ul li a {
	    float: none;
	}	
	body nav.main-menu > section > ul > li {
		margin: 10px 0;
	}
	body nav.main-menu ul la {
	    padding: 5px 5px 5px 5px;
	}	
	body nav.main-menu li ul a:hover, 
	body nav.main-menu ul li li:hover > a  {
	    background-color: white;
	}
	body section.content {
		padding: 0;
	}
	section footer ul {
    	width: 60%;
	}
	body section.contacts {
		width: 50%;
	}	
}