a.logo {
    float: left;
    text-decoration: none;
    color: #0072c6; 
    font-size: 2.2em;
    font-weight: 300;   
}

section.menu-container {
    margin: 0 auto 0 auto;
    padding: 0;
    list-style: none;
    width: 430px;    
}

nav.main-menu {
    float: left;
    font-size: 0.8em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 100;
}

nav.main-menu ul {
    margin: 0 auto 0 auto;
    padding: 0;
    width: 330px;
    list-style: none;
}

nav.main-menu > ul > li {
    margin: 10px 0 10px 0;
}

nav.main-menu ul > li {
    display: inline-block;
}

nav.main-menu ul li {
    float:left;
}

nav.main-menu ul li a {
    padding: 10px 10px;
}

nav.main-menu ul li a {
    float: left;
    color: black;
    text-decoration:none;
}

nav.main-menu li ul {
    display: none;
    margin: 30px 0 0 15px;
    position: absolute;
    width: 180px;
    z-index: 999;
    border: 1px outset #dcdcdc;
    background-color: white;
}

nav.main-menu li ul a {
    background: none;
    border: 0 none;
    margin-right: 0;
    width: 160px;
    box-shadow: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

/* Sub menu hover */

nav.main-menu ul li a:hover,
nav.main-menu ul li:hover > a,
nav.main-menu li ul a:hover, 
nav.main-menu ul li li:hover > a {
    color: lightblue;
}

nav.main-menu li ul a:hover, 
nav.main-menu ul li li:hover > a  {
    background-color: #E8E8E8;
}

nav.main-menu li:hover ul {
    display: block;
}

nav.main-menu li li ul {
    margin: -1px 0 0 160px;
    border-radius: 0 10px 10px 10px;
    visibility:hidden;
}

nav.main-menu li li:hover ul {
    visibility:visible;
}
