nav {
    float: left;
    font-size: 0.8em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    z-index: 100;
}

nav ul {
    margin: 0 auto 0 auto;
    padding: 0;
    list-style: none;
    width: 410px;
}

nav > ul > li {
    margin: 10px 0 10px 0;
}

nav ul li {
    float:left;
}

nav ul li a {
    padding: 10px 10px;
}

nav ul li a {
    float: left;
    color: black;
    text-decoration:none;
}

nav li ul {
    display: none;
    margin: 30px 0 0 15px;
    position: absolute;
    width: 180px;
    z-index: 999;
    border: 1px solid #dcdcdc;
    background-color: white;
}

nav li ul a {
    background: none;
    border: 0 none;
    margin-right: 0;
    width: 160px;
    box-shadow: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

/* Sub menu hover */

nav ul li a:hover,
nav ul li:hover > a,
nav li ul a:hover, 
nav ul li li:hover > a {
    color: lightblue;
}

nav li ul a:hover, 
nav ul li li:hover > a  {
    background-color: #E8E8E8;
}

nav li:hover ul {
    display: block;
}

nav li li ul {
    margin: -1px 0 0 160px;
    border-radius: 0 10px 10px 10px;
    visibility:hidden;
}

nav li li:hover ul {
    visibility:visible;
}
