<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>3CS Technologies - [Under Construction]</title>
    <meta name="description" content="3CS Technology Solutions"/>
    <meta name="keywords" content="3CS Technology Solutions"/>
    <meta name="author" content="Craig Cook 3CS"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content=""/>
    {{> stylesheets }}
    {{> head_scripts }}
</head>