{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    {{> trading_soon }}
    <section class="main">
        <section class="content-head">
            <h1>About</h1>
        </section>          	    	
        <section class="content">
			<p>3CS Technologies is a small London based consulting firm managed by <a href="http://craigcook.com" target="_blank">Craig Cook</a></p>
            <p class="no-gap">Registered Name: 3CS Technologies Ltd.</p>
            <p class="no-gap">Company Number: 9336214</p>
            <p class="no-gap">Address: 19b Inglewood Rd, Bexleyheath, DA7 6JR</p>
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>