{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    {{> 3cs_ribbon }}
    <section class="main">
        <section class="content-head">
            <h1>Engineering Tools</h1>
        </section>                 	    	
        <section class="content">
            <p>Engineering Tools support all work that development teams do in an organisation. Having the right tools for your organisation leads to a happier workforce, and enables your people to do the best work they can.</p>
			<p>Hosted tools</p>
            <p>On-premise tools</p>
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>