{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    {{> trading_soon }}
    <section class="main">
        <section class="content">
            <h3>Software Engineering Metrics</h3>
            <p>We understand that sometimes just knowing the best way to do things isn't enough, it needs to be proved with tangable metrics. Because of that we've devised a system of metrics to measure engineering maturity and efficieny.</p>
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>