{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    {{> 3cs_ribbon }}
    <section class="main">
        <section class="content-head">
            <h1>Software Engineering Metrics</h1>
        </section>        	    	
        <section class="content">
            <p>We understand that sometimes just knowing the best way to do things isn't enough, it needs to be proved with tangible metrics. Because of that we've devised a system of metrics to measure engineering maturity and efficieny.</p>
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>