{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    {{> trading_soon }}
    <section class="main">
        <section class="content-head">
            <h1>Automated Deployment</h1>
        </section>            	
        <section class="content">
			<p>Automated deployment is the practice of automating software releases by coded scripts requiring no manual or human intervention. This leads to three main benefits:</p>
            <section class="list block">
                <ul class="icon-list">
                    <li><i class="el-icon-repeat"></i>Repeatable - the same script can be used over and over again</li>
                    <li><i class="el-icon-thumbs-up"></i>Reliability - you can be assured of the same result time after time</li>
                    <li><i class="el-icon-time"></i>Quicker - release times are massively reduced from hours to minutes and sometimes seconds</li>
                </ul>                
            </section>
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>