{{> html_tag }}
{{> head }}
<body>   
    {{> menu }}
    {{> 3cs_ribbon }}
    <section class="main">
        <section class="content-head">
            <h1>Solutions</h1>
        </section>          	
        <section class="content list">
            <p>We provide consulting for the following technical solutions:</p>
            <section class="consulting list block">
                <ul class="icon-list">
                    <li><a href="/tools">Engineering Tools</a></li>
                    <li><a href="/devops">DevOps</a></li>
                    <li><a href="/continuousintegration">Continuous Integration</a></li>
                    <li><a href="/automateddeployment">Automated Deployment</a></li>
                </ul>                
            </section>
        </section>        
        {{> footer }}
    </section>
</body>
{{> scripts }}
</html>